@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-zinc-900 bg-white;
  }
}

@layer utilities {
  .bg-grid-small {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #f4f4f5 1px, transparent 1px),
                      linear-gradient(to bottom, #f4f4f5 1px, transparent 1px);
  }
}
